<ion-header>
  <ion-toolbar style="padding-top: 0.8rem; padding-bottom: 0.7rem;">
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
      </ion-col>
      <ion-col size="5"><ion-label class="title-toolbar ion-padding-start">your</ion-label><ion-label class="title-toolbar" color="primary">computer</ion-label></ion-col>
      <ion-col size="1" class="ion-text-center">
        <a (click)="toForward('home')">Início</a>
      </ion-col>
      <ion-col size="1" class="ion-text-center">
        <a href="#about">Sobre</a>
      </ion-col>
      <ion-col size="1" class="ion-text-center">
        <a (click)="toForward('games')">Jogos</a>
      </ion-col>
      <ion-col size="1" class="ion-text-center">
        <a (click)="toForward('applications')">Aplicações</a>
      </ion-col>
      <ion-col size="1" class="ion-text-center">
        <a href="#contact">Contatos</a>
      </ion-col>
      <ion-col size="1">
        <span></span>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
